.post-date {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    white-space: nowrap;
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .post-date {
        display: none;
    }
}
